body{
    backgground-color:#a9f1fa;
}

#titleRobotic {
    color: red;
}
img{
    padding-left: 10px;
}
.wrapper{
    width:60%;
    margin:0 auto;
    background-color: #fff;
}

#whitepaper{
    padding: 5%;
}

.nav{
       height:50px;
       line-height:50px;
       background:linear-gradient(to right, #1c6dff, #0ef7ff);
}
.nav li{
         float:left;
         width:100px;
         text-align:center;
         list-style: none;
         
}
.nav a{
         display:block;
         color:white;
         text-decoration:none;
         
}
.nav a:hover{
          color:white;
          background:#1154cc;
}

footer{
    padding: 1em;
    color: white;
    background: #1c6dff;
    text-align: center;
}

footer a{
    color:white;
    text-decoration:none;
}

#banner{
    width:100%;
    display: block;
}

ul,li{
    margin:0; padding:0
}
